/* For use in src/lib/core/theming/_palette.scss */
$omnilatam-primary: (
  50 : #ede8fe,
  100 : #d1c6fd,
  200 : #b2a0fc,
  300 : #9379fb,
  400 : #7c5dfa,
  500 : #6540f9,
  600 : #5d3af8,
  700 : #5332f7,
  800 : #492af6,
  900 : #371cf5,
  A100 : #ffffff,
  A200 : #f7f6ff,
  A400 : #c9c3ff,
  A700 : #b2a9ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$omnilatam-accent: (
  50 : #e3e1e8,
  100 : #bab5c6,
  200 : #8c84a0,
  300 : #5e5279,
  400 : #3c2d5d,
  500 : #190840,
  600 : #16073a,
  700 : #120632,
  800 : #0e042a,
  900 : #08021c,
  A100 : #6f5aff,
  A200 : #4227ff,
  A400 : #1e00f3,
  A700 : #1b00da,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
